html {

	height: 100%;
	margin : 0;
	font-family: Arial , sans-serif; 

}

body {
	margin: 0;
	background-image: url('Assets/concrete-texture.png');
	height: 100%;
}

.content {
	min-height: 100%;
	margin-bottom: -25px;
}

h1 , h2 , h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h1 {
		float:left;
		background: #4aaaa5;
		padding: 22px 60px 24px;
		display: inline;
		margin-top: -2%;
		text-align: center;
		margin-left: 480px;
		font-size: 2.0em;
		color: #ffffff;
		
		}
h2 {
	text-align: left;
	color: #4aaaa5;
	font-size: 2.0em;
	margin: 0 0 0 40px;
	
}

.hobbyborder{
	border-bottom: 2px solid #ddd;
	margin: 20px 40px 0px;
	box-shadow: 10px 10px 10px #abaeb2;

}

h3 {
	text-align: left;
	color: #4aaaa5;
	font-size: 1.8em;
	margin-top: 20px;
	margin-left: 20px;
}
.nav {
	text-decoration: none;
	text-align: right;
	background-color: #ffffff;
	color: black;
	padding: 30px 380px 31px 0px;
	margin: 0%;
	clear: both;
	margin-bottom: 50px;
	border-bottom: solid #dddddd 8px;
}

.nav > li {
	display: inline-block;
	margin: 0px 60px 0px 0px;
}

.nav >li > a {
	text-decoration: none;
	color: #777777;
}

.nav > li > a:hover {
	color: #4aaaa5
}


.main {
	width: 960px;
	height: 700px;
	margin: 0 auto;
	border: solid black 0px;

}

.other {
	width: 650px;
    height:98%;
    float: left;
    border: solid #dddddd 3px;
    background: #fff
}

.vg  , .Movies , .run , .vinyl  {
	height: 260px;
	width: 260px;
	padding: 15px;
	}


.sidebox {
		height: 200px;
		width: 270px;
		border: solid #dddddd 3px;
		float: left;
		margin-left: 15px;
		background:white;
		
	}

	.connectborder {
	border-bottom: 2px solid #ddd;
	margin: 10px 30px 0px;
	box-shadow: 10px 10px 10px #abaeb2;
	}


 .linkedin , .stack , .github {
		width: 80px;
		height: 80px;
		padding: 3px;
		float: left;
		margin-top: 15px;
}
		footer {
	background: #666;
	color: #fff;
	text-align: center;
	font-size: 1.4em;
	padding: 36px 0px 35px;
	height: 25px;
	border-top: solid #4aaaa5 8px;
    position: absolute;
	bottom: 0px;
	width: 100%;
}   

 

 .img1 , .img2 , .img3 , .img4 {
 	width: 300px;
 	height: 300px;
 	float:left;
 }

 .txt1 , .txt2 , .txt3 , .txt4 {
 	position: absolute;
 	margin: 195px 0px 0px 15px;
    padding: 20px;
 	width: 220px;
 	text-align: center;
 	background: #4aaaa5;
 	color: #fff;
    /* margin-left: 20px; */
 }